assignment-3/utils/__pycache__/general_utils.cpython-36.pyc
assignment-2/__pycache__/sgd.cpython-36.pyc
assignment-2/utils/__pycache__/__init__.cpython-36.pyc
assignment-2/__pycache__/word2vec.cpython-36.pyc
assignment-2/utils/__pycache__/gradcheck.cpython-36.pyc
assignment-2/utils/__pycache__/treebank.cpython-36.pyc
assignment-2/utils/__pycache__/utils.cpython-36.pyc
assignment-3/__pycache__/parser_model.cpython-36.pyc
assignment-3/__pycache__/parser_transitions.cpython-36.pyc
assignment-3/results/20190304_122949/model.weights
assignment-3/utils/__pycache__/__init__.cpython-36.pyc
assignment-3/utils/__pycache__/general_utils.cpython-36.pyc
assignment-3/utils/__pycache__/parser_utils.cpython-36.pyc
assignment-3/utils/__pycache__/parser_utils.cpython-36.pyc
assignment-3/utils/__pycache__/__init__.cpython-36.pyc
assignment-3/utils/__pycache__/general_utils.cpython-36.pyc
